################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KTrading/.vs/KTrading/CopilotIndices/17.14.995.13737
